<?xml version="1.0"?>

<robot name="bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Import bot  wheels -->
	<xacro:include filename="$(find bot_description)/urdf/wheels/omni_wheel.urdf.xacro" />
	<xacro:include filename="$(find bot_description)/urdf/base/bot_base.urdf.xacro" />
	<xacro:include filename="$(find bot_description)/urdf/base/custom_base.gazebo.xacro" />
	<!-- Wheel parameters -->
	<!-- <xacro:property name="wheel_offset_x" value="0.2225" />    x,y,z in translation from base_link to the center of the wheel -->
	<!-- <xacro:property name="wheel_offset_y" value="0.2045" /> -->
	<!-- <xacro:property name="wheel_offset_z" value="0.0" /> -->
	<xacro:property name="wheel_offset_x" value="0.4450" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.4090" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<xacro:macro name="robot">
		<xacro:bot_base/>

		<xacro:omni_wheel prefix="bot_front_right" parent="base_link" reflect="false">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="bot_front_left" parent="base_link" reflect="true">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="bot_back_left" parent="base_link" reflect="true">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="bot_back_right" parent="base_link" reflect="false">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_steering />
   </xacro:macro>

   <xacro:robot/>

</robot>

