<?xml version="1.0"?>
<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bot_gazebo)/world/grid_arena.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- Load the URDF into ROS parameter server -->

  <param name="robot_description" command="$(find xacro)/xacro '$(find bot_description)/urdf/full/bot.urdf.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y 0 -z 0  -model mybot -param robot_description"/>

  <!-- Spawn model -->
   <!-- <node name="grid_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y 0 -z 0  -model grid_base -param grid_description"/> -->
    
  <!--<node name="bot_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -x -8 -y -8 -z 0.3 -Y 1.5708 -model bot -param robot_description"/> -->
    

  <!-- <node name="camera_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y 0 -z 5.0  -model camera -param camera_description"/>-->

</launch>

